
@{
    ViewBag.Title = "Education";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <ul style="list-style-type:disc;">
        <li><h3>Hsc</h3></li>
        <ul style="list-style-type:circle;">
            <p>
            <li>Institute :  Lemu Collage</li></p>
            <p>
            <li>Year :  2019</li></p>
            <p>
            <li>Group : Science</li></p>

        </ul>
    </ul>



    <ul style="list-style-type:disc;">
        <li><h3>SSC</h3></li>
        <ul style="list-style-type:circle;">
            <p>
            <li>Institute :  Lemu High School</li></p>
            <p>
            <li>Year :  2017</li></p>
            <p>
            <li>Group : Science</li></p>

        </ul>
    </ul>

    <ul style="list-style-type:disc;">
        <li><h3>BSC</h3></li>
        <ul style="list-style-type:circle;">
            <p>
            <li>Institute : American Internationa University - Bangladesh </li></p>
  <p>  <li><b>Group : </b>BSc in CSE</li></p>

        </ul>
    </ul>

</main>