
@{
    ViewBag.Title = "Home";
}


<main>

    <section class="row">

        <h2 id="title">@ViewBag.Title.</h2>
        <p class="lead"><b>Name :</b> Tripti Ahmed</p>  <p class="lead"><b>Email :</b> T@mail.com</p>
        <p class="lead"><b>ID :</b> 20-42*60-1</p>
    </section>

    <div class="row">

        <section class="col-md-2"><p><a href="Index">Home </a></p></section>

        <section class="col-md-2"><p><a href="Education">Education </a></p> </section>

        <section class="col-md-2"><p><a href="Personalinfo">Personal Info</a></p></section>

        <section class="col-md-2"><p><a href="Project">Project</a></p></section>

    </div>
</main>