
@{
    ViewBag.Title = "Personal info";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    </br>
    </br>
    </br>

    <p>Hometown:Somewhere</p>
    </br>
    </br>
    </br>

    <p>Present Address :Somewhere</p>
    </br>
    </br>
    </br>
    <p>Phone Number :0987654321</p>
    </br>
    </br>
    </br>
    <p>Email :t@mail.com</p>


    <p><b>Zip Code :</b>****</p>
</main>