
@{
    ViewBag.Title = "Project";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <head>
        <style>
            table, th, td {
                border: 1px solid black;border-collapse: collapse;
            }
        </style>
    </head>
    <table style="width:100%" ; border: 1px solid black; border-collapse: collapse;>
        <tr><th>Course</th> <th>Title</th> <th>Description</th> </tr>

        <tr> 
        <td>OOP1</td><td>Parcel Tracking System</td> <td>This project is for parcel Track</td> 
        </tr>
        <tr>
        <td>OOP2</td> <td>Shop Management system</td> <td>This project is for shop management</td>
        </tr>
    </table>


</main>